{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Home page</h2>
<p>Welcome, {{ username }}!</p>

<h2>User History</h2>

<table id="myTable">
<TR>
	<TH>Id</TH>
	<TH>First Name</TH>
    <TH>Date</TH>
    <TH>Booked</TH>
</TR>

{% for row in history %}
<TR>
	<TD>{{row.userid}}</TD>
	<TD>{{row.firstName}}</TD>
    <TD>{{row.date}}</TD>
    <TD>{{row.booked}}</TD>
</TR>
{% endfor %}
</table>


<h2>Cancel Booking<h2>
<form action="{{ url_for('cancelBooking') }}" method="post" autocomplete="off">
	
	<input type="text" name="cancelCarId" placeholder="Cancel by car id" id="cancelCarId">
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Cancel">
</form>


{% endblock %}
