{% extends 'layout.html' %}
{% block title %}Cars{% endblock %}


{% block content %}
<h2>Car Search</h2>
<p>This is where you can search and book cars.</p>

<form action="{{ url_for('carQuery') }}" method="post" autocomplete="off">
	<input type="text" name="idCar" placeholder="Seach by id" id="idCar">
	<input type="text" name="make" placeholder="Seach by make" id="make">
	<input type="text" name="bodyType" placeholder="Seach by body type" id="bodyType">
	<input type="text" name="colour" placeholder="Seach by colour" id="colour">
	<input type="text" name="seats" placeholder="Seach by number of seats" id="seats">
	<input type="text" name="location" placeholder="Seach by location" id="location">
	<input type="text" name="cost" placeholder="Seach by cost per hour" id="cost">
	<input type="text" name="bookedBy" placeholder="Seach by user booked" id="bookedBy">
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Search">
</form>

<table id="myTable">
<TR>
	<TH>Id</TH>
	<TH>Make</TH>
	<TH>Body Type</TH>
	<TH>Colour</TH>
	<TH>Seats</TH>
	<TH>Location</TH>
	<TH>Cost</TH>
	<TH>BookedBy</TH>
	<TH>Returned</TH>
</TR>

{% for row in cars %}
<TR>
	<TD>{{row.id}}</TD>
	<TD>{{row.make}}</TD>
	<TD>{{row.bodyType}}</TD>
	<TD>{{row.colour}}</TD>
	<TD>{{row.seats}}</TD>
	<TD>{{row.location}}</TD>
	<TD>{{row.cost}}</TD>
	<TD>{{row.bookedBy}}</TD>
	<TD>{{row.returned}}</TD>
</TR>
{% endfor %}
</table>

<h2>Book a car by Id<h2>

<form action="{{ url_for('carBooking') }}" method="post" autocomplete="off">
	
	<input type="text" name="bookingCarId" placeholder="Search by car id" id="bookingCarId">
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Search">
</form>

{% endblock %}
