{% if typeOfUser == 'Admin' %}
{% extends 'adminLayout.html' %}
{% elif typeOfUser == 'Engineer' %}
{% extends 'engineerLayout.html' %}
{% elif typeOfUser == 'Manager' %}
{% extends 'managerLayout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Home page</h2>
<p>Welcome, {{ username }}!</p>
{% if typeOfUser == 'Customer' %}
<h2>User History</h2>

<table id="myTable">
<TR>
    <TH>Booking Id</TH>
    <TH>First Name</TH>
    <TH>Date</TH>
    <TH>Days Booked</TH>
    <TH>Car Id</TH>
    <TH>Status</TH>
</TR>

{% for row in history %}
<TR>
    <TD>{{row.bookingId}}</TD>
    <TD>{{row.firstName}}</TD>
    <TD>{{row.date}}</TD>
    <TD>{{row.daysBooked}}</TD>
    <TD>{{row.carId}}</TD>
    <TD>{{row.current}}</TD>
</TR>
{% endfor %}
</table>


<h2>Cancel Booking<h2>
<form action="{{ url_for('cancelBooking') }}" method="post" autocomplete="off">
	
	<input type="text" name="cancelCarId" placeholder="Cancel by booking id" id="cancelCarId">
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Submit Cancellation">
</form>
{% elif typeOfUser == 'Engineer' %}
<h2>Engineer Page</h2>

<table id="myTable">
<TR>
	<TH>Id</TH>
	<TH>Make</TH>
	<TH>Body Type</TH>
	<TH>Colour</TH>
	<TH>Seats</TH>
	<TH>Location</TH>
	<TH>LongLat</TH>
	<TH>Broken</TH>
</TR>

{% for row in broken %}
<TR>
	<TD>{{row.id}}</TD>
	<TD>{{row.make}}</TD>
	<TD>{{row.bodyType}}</TD>
	<TD>{{row.colour}}</TD>
	<TD>{{row.seats}}</TD>
	<TD>{{row.location}}</TD>
	<TD>{{row.longlat}}</TD>
	<TD>{{row.broken}}</TD>
</TR>
{% endfor %}
</table>

<!--Google maps API -->
{% set url_string = "https://maps.googleapis.com/maps/api/staticmap?center=Melbourne+Vic&zoom=10&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C" + my_string + "&key=AIzaSyBs9pmV28AcaehCCMtvuQuZ49VFNIOyyxY" %}

<p>
<img src= {{url_string}}>
</p>


{% elif typeOfUser == 'Manager' %}
<h2>Manager Page</h2>
<a href="https://datastudio.google.com/s/oXQ93BpXO2w">Manager Visualizations</a>

{% else %}




<h2>User History</h2>

<form action="{{ url_for('searchBooking') }}" method="post" autocomplete="off">
	<input type="text" name="searchCarId" placeholder="Search car by ID" id="searchCarId">
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Search">
</form>



<table id="myTable">
<TR>
    <TH>Booking Id</TH>
    <TH>First Name</TH>
    <TH>Date</TH>
    <TH>Days Booked</TH>
    <TH>Car Id</TH>
    <TH>Status</TH>
</TR>

{% for row in allHistory %}
<TR>
    <TD>{{row.bookingId}}</TD>
    <TD>{{row.firstName}}</TD>
    <TD>{{row.date}}</TD>
    <TD>{{row.daysBooked}}</TD>
    <TD>{{row.carId}}</TD>
    <TD>{{row.current}}</TD>
</TR>
{% endfor %}
</table>

{% endif %}

{% endblock %}
