{% if typeOfUser == 'Admin' %}
{% extends 'adminLayout.html' %}
{% elif typeOfUser == 'Engineer' %}
{% extends 'engineerLayout.html' %}
{% elif typeOfUser == 'Manager' %}
{% extends 'managerLayout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ user['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ user['password'] }}</td>
        </tr>
	<tr>
            <td>First Name:</td>
            <td>{{ user['firstName'] }}</td>
        </tr>
	<tr>
            <td>Last Name:</td>
            <td>{{ user['lastName'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user['email'] }}</td>
        </tr>
	<tr>
            <td>User Type:</td>
            <td>{{ user['typeOfUser'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}