{% if typeOfUser == 'Admin' %}
{% extends 'adminLayout.html' %}
{% elif typeOfUser == 'Engineer' %}
{% extends 'engineerLayout.html' %}
{% elif typeOfUser == 'Manager' %}
{% extends 'managerLayout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}
{% block title %}User History{% endblock %}


{% block content %}
<h2>User History</h2>

<table id="myTable">
<TR>
	<TH>Id</TH>
	<TH>First Name</TH>
    <TH>Date</TH>
    <TH>Booked</TH>
</TR>

{% for row in history %}
<TR>
	<TD>{{row.userid}}</TD>
	<TD>{{row.firstName}}</TD>
    <TD>{{row.date}}</TD>
    <TD>{{row.booked}}</TD>
</TR>
{% endfor %}
</table>

{% endblock %}
